//*************************************
// CSS style module for section globals
// author: Shpakov Vladyslav
// at: 28.12.2024 7:58
//*************************************

@use "helpers" as *;


html {
  background-color: var(--black-bg);
  color: var(--white);
}

.h0, h1 {
  font-family: "STIX Two Text", sans-serif;
  line-height: 1.35;
}

.h0 {
  @include fluid-font-size(55, 34);
  font-weight: 500;
  color: var(--white);
}

.h1 {
  @include fluid-font-size(38, 24);
  font-weight: 400;
  color: var(--grey);
}

.SH0, .SH1, .SH2 {
  font-family: "Montserrat", serif;
  line-height: 1.6;
  font-weight: 500;
  color: var(--grey);
}

.SH0 {
  font-size: toRem(24);
}

.SH0 {
  font-family: "Montserrat", serif;
  font-size: fluid(24, 16); //   <-----------------------    //CHECK FONT SIZE ON SMALL SCREENS
  line-height: 1.6;
  font-weight: 500;
  color: var(--white);
}

.SH1 {
  font-size: toRem(18);
}

.SH2 {
  font-size: toRem(16);
}

.body, .buttonB, .buttonS, .legend, .label {
  font-family: "Montserrat", serif;
  font-size: toRem(16);
  line-height: 1.6;
  font-weight: 400;
  color: var(--grey);
}

.buttonS {
  font-weight: 500;
  color: var(--white);
}

.label {
  font-size: toRem(14);
  color: var(--white);
}

.label {
  font-weight: 500;
  color: var(--white);
}

.legend {
  font-family: "Montserrat", serif;
  font-size: toRem(16);
  line-height: 1.6;
  font-weight: 400;
  color: var(--white);
}

.buttonS {
  font-family: "Montserrat", serif;
  font-size: fluid(16, 16); // <-----------------------    //CHECK FONT SIZE ON SMALL SCREENS
  line-height: 1.6;
  font-weight: 400;
  color: var(--white-bg);
}








/**
  Добавляем обводку для клавиатур
 */
:focus-visible {
  outline: red dashed toRem(2);
  outline-offset: toRem(2);
  transition-duration: 0s !important;
}
