//*************************************
// CSS style module for section _normalize
// author: Shpakov Vladyslav
// at: 21.01.2025 13.45
//*************************************

@use "helpers" as *;

:root {
  --red: #DA4533;
  --black-bg: #1B1B1B;
  --dark-grey: #5C5C5C;
  --grey: #8A8A8A;
  --white-bg: #F9F9F9;
  --white: #FFF;
  --active: rgb(57, 56, 56);
  --hover: rgba(255, 255, 255, .1);
  --normal: rgba(255, 255, 255, .05);
  --shadow-block-bg: #2b2a2a;

  --border-radius: #{toRem(5)};

  --container-width: #{toRem(1216)};
  --container-padding-x: #{toRem(20)};

  @include laptop {
    --container-padding-x: #{toRem(20)};
  }

  --transition-duration: .4s;

  @include laptop {
    --container-width: #{toRem(1000)};
  }
}
