@charset "UTF-8";
/**
  Нормализация блочной модели
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Отключение подчеркивания только у нужных ссылок
 */
a[class] {
  text-decoration: none;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "STIX Two Text";
  src: url("../fonts/STIX/STIXTwoText-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "STIX Two Text";
  src: url("../fonts/STIX/STIXTwoText-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@media (hover: hover) {
  .btn:hover {
    background-color: red;
  }
}
@media (hover: none) {
  .btn:active {
    background-color: red;
  }
}
:root {
  --red: #DA4533;
  --black-bg: #1B1B1B;
  --dark-grey: #5C5C5C;
  --grey: #8A8A8A;
  --white-bg: #F9F9F9;
  --white: #FFF;
  --active: rgb(57, 56, 56);
  --hover: rgba(255, 255, 255, .1);
  --normal: rgba(255, 255, 255, .05);
  --shadow-block-bg: #2b2a2a;
  --border-radius: 0.5rem;
  --container-width: 90rem;
  --container-padding-x: 1rem;
  --transition-duration: .3s;
}
@media (width <= 90.062375rem) {
  :root {
    --container-width: 80rem;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.999875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.999875rem) {
  .visible-mobile {
    display: none !important;
  }
}

html {
  background-color: var(--black-bg);
}

.h0, h1 {
  font-family: "STIX Two Text", sans-serif;
  line-height: 1.35;
}

.h0 {
  font-size: clamp(2.125rem, 1.6706730769rem + 2.0192307692vw, 3.4375rem);
  font-weight: 500;
  color: var(--white);
}

.h1 {
  font-size: clamp(1.5rem, 1.1971153846rem + 1.3461538462vw, 2.375rem);
  font-weight: 400;
  color: var(--grey);
}

.SH0, .SH1, .SH2 {
  font-family: "Montserrat", serif;
  line-height: 1.6;
  font-weight: 500;
  color: var(--grey);
}

.SH0 {
  font-size: 1.5rem;
}

.SH0 {
  font-family: "Montserrat", serif;
  font-size: clamp(1rem, 0.8269230769rem + 0.7692307692vw, 1.5rem);
  line-height: 1.6;
  font-weight: 500;
  color: var(--white);
}

.SH1 {
  font-size: 1.125rem;
}

.SH2 {
  font-size: 1rem;
}

.body, .buttonB, .buttonS, .legend, .label {
  font-family: "Montserrat", serif;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  color: var(--grey);
}

.buttonS {
  font-weight: 500;
  color: var(--white);
}

.label {
  font-size: 0.875rem;
  color: var(--white);
}

.legend {
  font-weight: 500;
  color: var(--white);
}

.legend {
  font-family: "Montserrat", serif;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  color: var(--white);
}

.buttonS {
  font-family: "Montserrat", serif;
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
  line-height: 1.6;
  font-weight: 400;
  color: var(--white-bg);
}

.button-elips {
  max-width: 18.75rem;
  padding: 1.25rem 1.5rem;
  border-radius: 50%;
  background-color: var(--black-bg);
  color: var(--white);
  position: relative;
  border: none;
}
.button-elips:is(.button-reverse) {
  background-color: var(--red);
}
.button-elips:after {
  content: "";
  width: 18.75rem;
  height: 5.625rem;
  transform: rotateZ(-5deg);
  top: 0;
  left: 0;
  display: none;
  position: absolute;
  border-radius: 50%;
  border: 2px solid var(--white);
}
.button-elips:hover::after {
  display: block;
}

.shadow-block {
  --grad: linear-gradient(
      150deg, var(--red) 10%, var(--shadow-block-bg) 30%
  );
  padding: 1.25rem;
  width: 24.5rem;
  color: var(--white);
  background: linear-gradient(var(--shadow-block-bg), var(--shadow-block-bg)) padding-box, var(--grad) border-box;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
}

.button-elips-arrow {
  margin-right: 0.9375rem;
  background-color: transparent;
  padding: 0.5625rem 1.3125rem 0.75rem;
  border: 1px solid var(--red);
  border-radius: 50%;
  color: var(--red);
  white-space: nowrap;
  position: relative;
}
.button-elips-arrow .button-arrow__line-1 {
  position: absolute;
  display: block;
  width: 1.875rem;
  height: 0.0625rem;
  background-color: var(--red);
  right: -0.9375rem;
  bottom: 1.375rem;
}
.button-elips-arrow .button-arrow__line-2 {
  position: absolute;
  display: block;
  width: 0.4375rem;
  height: 0.0625rem;
  background-color: var(--red);
  right: -1.03125rem;
  bottom: 1.53125rem;
  transform: rotate(45deg);
}
.button-elips-arrow .button-arrow__line-3 {
  position: absolute;
  display: block;
  width: 0.4375rem;
  height: 0.0625rem;
  background-color: var(--red);
  right: -1.03125rem;
  bottom: 1.21875rem;
  transform: rotate(-45deg);
}

.button-slider {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 3.125rem;
  background-color: transparent;
  border: 1px solid var(--red);
  position: relative;
}
.button-slider .button-arrow__line-1 {
  position: absolute;
  display: block;
  width: 2.5rem;
  height: 0.0625rem;
  background-color: var(--red);
  right: -1.25rem;
  bottom: 1.125rem;
}
.button-slider .button-arrow__line-2 {
  position: absolute;
  display: block;
  width: 0.4375rem;
  height: 0.0625rem;
  background-color: var(--red);
  right: -1.3125rem;
  bottom: 1.28125rem;
  transform: rotate(45deg);
}
.button-slider .button-arrow__line-3 {
  position: absolute;
  display: block;
  width: 0.4375rem;
  height: 0.0625rem;
  background-color: var(--red);
  right: -1.3125rem;
  bottom: 0.96875rem;
  transform: rotate(-45deg);
}
.button-slider:is(.button-slider-left) .button-arrow__line-1 {
  position: absolute;
  display: block;
  width: 2.5rem;
  height: 0.0625rem;
  background-color: var(--red);
  left: -1.25rem;
  bottom: 1.125rem;
}
.button-slider:is(.button-slider-left) .button-arrow__line-2 {
  position: absolute;
  display: block;
  width: 0.4375rem;
  height: 0.0625rem;
  background-color: var(--red);
  left: -1.3125rem;
  bottom: 0.96875rem;
  transform: rotate(45deg);
}
.button-slider:is(.button-slider-left) .button-arrow__line-3 {
  position: absolute;
  display: block;
  width: 0.4375rem;
  height: 0.0625rem;
  background-color: var(--red);
  left: -1.3125rem;
  bottom: 1.28125rem;
  transform: rotate(-45deg);
}

/**
  Добавляем обводку для клавиатур
 */
:focus-visible {
  outline: red dashed 0.125rem;
  outline-offset: 0.125rem;
  transition-duration: 0s !important;
}

/* Скрываем стандартный чекбокс */
.custom-checkbox input[type=checkbox] {
  display: none;
}

/* Выравнивание текста */
.custom-checkbox {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

/* Стиль для кастомного чекбокса */
.custom-checkbox span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid var(--grey);
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  background: white;
  transition: all 0.2s ease-in-out;
}

/* Отмеченное состояние */
.custom-checkbox input[type=checkbox]:checked + span {
  background: var(--red);
  border-color: var(--red);
}

/* Галочка */
.custom-checkbox input[type=checkbox]:checked + span::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 5px;
  width: 4px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/*# sourceMappingURL=main.css.map */
