//*************************************
// CSS style module for section check-box
// author: Shpakov Vladyslav
// at: 21.01.2025 21:36
//*************************************


/* Скрываем стандартный чекбокс */
.custom-checkbox input[type="checkbox"] {
  display: none;
}

/* Выравнивание текста */
.custom-checkbox {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

/* Стиль для кастомного чекбокса */
.custom-checkbox span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid var(--grey);
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  background: white;
  transition: all 0.2s ease-in-out;
}

/* Отмеченное состояние */
.custom-checkbox input[type="checkbox"]:checked + span {
  background: var(--red);
  border-color: var(--red);
}

/* Галочка */
.custom-checkbox input[type="checkbox"]:checked + span::before {
  content: '';
  position: absolute;
  top: 1px;
  left: 5px;
  width: 4px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

///* Добавим эффект при наведении */
//.custom-checkbox span:hover {
//  border-color: #0056b3;
//  background: #f0f8ff;
//}
